<header class="border-bottom shadow">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between">
      <ul class="navbar-nav ms-3">
          <li class="">
              <a href="mailto:support@the-maxeffort.com" class="text-dark fw-bolder"><small><i class="fa-solid fa-envelope"></i> support@the-maxeffort.com</small></a>
          </li>
          <li>
              <a href="tel:+96599331287" class="text-dark fw-bolder"><small><i class="fa-brands fa-whatsapp"></i> +965 9933 1287</small></a>
          </li>
      </ul>
      <div class="text-start">
          <img src="/assets/images/nav-logo.jpg" alt="Logo" width="160">
      </div>
      <div class=" d-flex">
      <div class="dropdown mt-1">
        <div class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-angle-down me-1"></i>
          <img src="/assets/images/nav-flag.png" class="flag-img" alt="">
        </div>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li class="dropdown-item d-flex justify-content-between pe-3">
              <a class="text-dark" href="#">
                  <img src="/assets/images/nav-flag.png" class="flag-img me-2" alt="US Flag">Kuwait
              </a>
                <span>KD</span>
          </li>
          <li class="dropdown-item d-flex justify-content-between pe-3">
            <a class="text-dark" href="#">
                <img src="/assets/images/flag-2.png" class="flag-img me-2" alt="US Flag">Soudhi Arabia
            </a>
              <span>SR</span>
        </li>
        <li class="dropdown-item d-flex justify-content-between pe-3">
          <a class="text-dark" href="#">
              <img src="/assets/images/flag-3.png" class="flag-img me-2" alt="US Flag">Qutar
          </a>
            <span>QR</span>
      </li>
      <li class="dropdown-item d-flex justify-content-between pe-3">
        <a class="text-dark" href="#">
            <img src="/assets/images/flag-4.png" class="flag-img me-2" alt="US Flag">Bahrain
        </a>
          <span>BD</span>
    </li>
    <li class="dropdown-item d-flex justify-content-between pe-3">
      <a class="text-dark" href="#">
          <img src="/assets/images/flag-5.png" class="flag-img me-2" alt="US Flag">Oman
      </a>
        <span>OR</span>
  </li>
  <li class="dropdown-item d-flex justify-content-between pe-3">
    <a class="text-dark" href="#">
        <img src="/assets/images/flag-6.png" class="flag-img me-2" alt="US Flag">United Arab Emirates
    </a>
      <span>AED</span>
</li>

      </ul>
      </div>




       <div class="nav-logos p-1">
        <img src="/assets/images/nav-user-icon.png" class="ms-2"  alt="">
        <img src="/assets/images/arabic2-icon.png"  class="ms-2" alt="">
        <img src="/assets/images/bag3-icon.png" class="ms-2" alt="">



       </div>

    </div>
    </div>
  </nav>
</header>
