<footer class="footer mt-3  mb-0 pb-0 pt-4 bg-color text-light">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <h5>Customer Service</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">Shipping Policy</a></li>
                  <li><a href="#" class="text-light">Returns & Exchange</a></li>
                  <li><a href="#" class="text-light">Contact Us</a></li>
              </ul>
          </div>
          <div class="col-md-3">
              <h5>Information</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">Our Belief</a></li>
                  <li><a href="#" class="text-light">Terms & Conditions</a></li>
                  <li><a href="#" class="text-light">Privacy Policy</a></li>
              </ul>
          </div>
          <div class="col-md-3">
              <h5>My Account</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">Logout</a></li>
                  <li><a href="#" class="text-light">My Orders</a></li>

              </ul>
          </div>
          <div class="col-md-3">
              <h5>Subscribe</h5>
              <!-- <form class="d-flex">
                  <input type="email" class="form-control me-2" placeholder="Enter your email">
                  <button type="submit" class="btn btn-light">Submit</button>
              </form> -->
              <form class="input-container">
                <input type="email" placeholder="Enter your email" class="email-input">
                <button type="submit" class="submit-button">Submit</button>
            </form>

              <small class="text-footer">By entering your email address, you agree to our <a href="#" class="text-light p-0">Privacy Policy</a>.</small>
              <h5 class="mt-3">Follow us on</h5>
              <i class="fa-brands fa-instagram insta-logo"></i>
              <a href="#" class="text-light me-2"><i class="bi bi-instagram"></i></a>
              <div class="mt-2">
                  <img src="/assets/images/apple-pay (1).png" alt="Apple Pay" class="" height="37"  width="70">
                  <img src="/assets/images/knet.png" alt="KN Pay" class="p-2" width="60" height="50">
                  <img src="/assets/images/visa (1).png" alt="Visa" class="p-2" width="70">
              </div>
          </div>
          <div class="col-md-6">
              <p class="content-text">© 2022 The Max Effort All rights reserved</p>
          </div>

        </div>

  </div>
</footer>
